@use '../abstracts' as *;

button {
    padding: $space-unit * 1.5 $space-unit * 2;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    background: $color-accent;
    color: #fff;
    transition: background 0.2s ease;

    &.btn--success {
        background: $color-success;
    }

    &.btn--error {
        background: $color-error;
    }

    &.btn--warning {
        background: $color-warning;
        color: #000;
    }
}
