@use '../abstracts' as *;

.searchable-select {
    position: relative;

    &__input {
        width: 100%;
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        background: $color-card;
        border: 1px solid $color-border;
        border-radius: $radius;
        max-height: 200px;
        overflow-y: auto;
        margin-top: $space-unit / 2;
        list-style: none;
        padding: 0;
    }

    &__option {
        padding: $space-unit * 1.5;
        cursor: pointer;

        &:hover {
            background: $color-bg;
        }
    }
}
